*{
  padding: 0;
  margin: 0;
  outline: 0;
}

/* #header */
    #header {
        width: 100%;
        height: 51px;
        position: fixed;
        z-index: 100;
        background-color: #3097D1;
    }

    #headerinside {
        width: 100%;
        height: 100%;
    }

    /* headerlogo*/
        #headerlogo {
            width: 85px;
            height: 23px;
            margin-left: 15px;
            margin-top: 12px;
            margin-bottom:12px;
            float: left;
        }
        #headerlogo a {
            display: block;
            cursor: pointer;
            width: 100%;
            height: 100%;
        }
    /* #headermenu */
    #headermenu {

    }
        #headermenu .nav li {
    		list-style-type: none;
            float: left;
            margin-left: 15px;
            margin-top: 16px;
        }

    	#headermenu li a {
    		cursor: pointer;
    		text-align: center;
    		text-decoration: none;
            color: #98C3DF;
    	}

    	#headermenu ul li a:hover {
            text-decoration: none;
            color: #F2E8EA;
            opacity:0,5;
        }

        #headermenu .nav ul li .activ {
            margin-left: 23px;
            margin-top: 16px;
            font-size: 17px;
            color: #ffffff;
        }

    /* #headerinput */
        #headerinput #id1{
            width: 180px;
            height: 32px;
            float: right;
            margin-right: 23px;
            margin-top: 9px;
            border: 1px solid #1C73A5;
            border-radius: 5px;
            padding-left: 10px;
        }
    /* #headerbell */
        #headerbell{
            float: right;
            margin-right: 17px;
            margin-top: 15px;
        }

        #headerbell i{
            color: #98CBE8;
            font-size: 18px;
        }

    /* #headerphoto */
        #headerphoto #photoimg{
            width: 35px;
            float: right;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 9px;
        }

/* #reserveheader */
    #reserveheader {
        width: 100%;
        height: 51px;
    }

/* #wrapper */
    #wrapper{
        width: 100%;
        height: 100%;
    }

    #wrapperinside{
        max-width: 1200px;
        margin: 0 auto;
        outline: 1px solid red;
        display: flex;
        justify-content: space-between;
    }

/* #left */
    #left{
        width: 277px;
    }
        #block1{
            border: 1px solid #DFDFDF;
        }
    .photoimg1{
        width: 100px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        margin-left: 85px;
        margin-top: 97px;
    }
/* #center */
    #center{
        width: 585px;
        background-color: green;
        margin-left: 10px;
        margin-right: 10px;
    }

/* #right */
    #right{
        width: 277px;
        background-color: blue;
    }

/* others */
.clear{
    clear: both;
}
