*{
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* #header */
    #header {
        width: 100%;
        height: 51px;
        position: fixed;
        z-index: 100;
        background-color: #3097D1;
    }

    #headerinside {
        width: 100%;
        height: 100%;
    }

    /* headerlogo*/
        #headerlogo {
            width: 85px;
            height: 23px;
            margin-left: 15px;
            margin-top: 12px;
            margin-bottom:12px;
            float: left;
        }
        #headerlogo a {
            display: block;
            cursor: pointer;
            width: 100%;
            height: 100%;
        }
    /* #headermenu */
    #headermenu {

    }
        #headermenu .nav li {
    		list-style-type: none;
            float: left;
            margin-left: 13px;
            margin-top: 13px;
        }

    	#headermenu li a {
    		cursor: pointer;
    		text-align: center;
    		text-decoration: none;
            font-size: 14px;
            color: #98C3DF;
    	}

    	#headermenu ul li a:hover {
            text-decoration: none;
            color: #F2E8EA;
            opacity:0,5;
        }

        #headermenu li.activ a {
            margin-left: 3px;
            margin-top: 16px;
            font-size: 15px;
            color: #ffffff;
        }

    /* #headerinput */
        #headerinput #id1{
            width: 180px;
            height: 32px;
            float: right;
            margin-right: 23px;
            margin-top: 9px;
            border: 1px solid #1C73A5;
            border-radius: 5px;
            padding-left: 10px;
        }
        #headerinput #id1:focus {
            border: 1px solid grey;
            width:300px;
}
    /* #headerbell */
        #headerbell{
            float: right;
            margin-right: 17px;
            margin-top: 15px;
        }

        #headerbell i{
            color: #98CBE8;
            font-size: 18px;
        }

    /* #headerphoto */
        #headerphoto #photoimg{
            width: 35px;
            float: right;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 9px;
        }

/* #reserveheader */
    #reserveheader {
        width: 100%;
        height: 51px;
    }

/* #wrapper */
    #wrapper{
        width: 100%;
        height: 100%;
        background-color: #F5F8FA;
    }

    #wrapperinside{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

/* #left */
    #left > div{
        width: 277px;
        border: 1px solid #DFDFDF;
        border-radius: 3px;
        background-color: #ffffff;
    }
        #block1{
            background-image: url(img/instagram_6.jpg);
            border-radius: 3px 3px 0 0;
            margin-top: 20px;
        }
        #photoimg1{
            position: absolute;
            z-index: 1;
        }
    #block1inside, #block2inside, #block3inside{
        padding: 17px;
    }
    #block1inside .photoimg1{
        position: relative;
        z-index: 2;
        width: 100px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        margin-left: 65px;
        margin-top: 75px;
    }
    #block1inside  h6{
        font-size: 15px;
        color: #212529;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }
    #block1inside  a{
        text-decoration: none;
    }
    #block1inside  p{
        text-align: center;
        margin-bottom: 20px;
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 0;
        line-height: 1.6;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    ul.block1insideul {
        margin-left: 42px;
    }
    ul.block1insideul li {
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 15px;
        border-right: 1px solid #808080;
    }
    ul.block1insideul li:last-child{
        border-right: none;
    }
    #block1, #block2, #block3, #block4, #block5, #block6{
        margin-top: 20px;
    }
    #block2inside h6{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
    }
    #block2inside a{
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
        padding-left: 5px;
        color: #3097D1;
        cursor: pointer;
    }
    #block2inside .hr{
        font-size: 12px;
    }
    #block2inside a:hover{
        text-decoration: underline;
    }
    #block2inside li{
        list-style-type: none;
        margin-bottom: 5px;
        font-weight: normal;
        font-size: 14px;
    }
    #block2inside i{
        width: 12px;
        font-size: 13px;
        text-align: center;
        color: #6C757D;
        margin-right: 12px;
    }
    #block2inside ul{
        margin-bottom: 20px;
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    #block3inside h6{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
    }
    #block3inside a{
        text-decoration: none;
        font-weight: normal;
        font-size: 12px;
        margin-left: 5px;
        color: #3097D1;
        cursor: pointer;
    }
    #block3inside .hr1 a{
        margin-left: 5px;
    }
    #block3inside a:hover{
        text-decoration: underline;
    }
/* #center */
    #center{
        width: 545px;
        margin-top: 20px;
        margin-left: 10px;
        margin-right: 10px;
        padding: 20px;
        border: 1px solid #CED4DA;
        border-radius: 3px;
        background-color: #ffffff;
    }
    #centercontent{
        width: 545px;
    }
    #centercontentinside input{
        width: 490px;
        height: 34px;
        padding-left: 15px;
        font-size: 15px;
        border: 1px solid #CED4DA;
        border-radius: 3px;
    }

    #centercontentinside input:-moz-placeholder {
    	color: #6C757D;
    }
    input::-moz-placeholder {
    	color: #6C757D;
    }
    input::-webkit-input-placeholder {
    	color: #6C757D;
    }
    input:-ms-placeholder {
    	color: #6C757D;
    }
    input::placeholder {
    	color: #6C757D;
    }
    input:focus{
        box-shadow: 0 0 10px #2841FF;
    }
#centercontentinside button{
    width: 38px;
    height: 36px;
    float: right;
    border: 1px solid #CED4DA;
    border-radius: 3px;
}
#centercontentinside button:hover{
    background-color: #8E959A;
}
#centercontentinside button:focus{
    box-shadow: 0 0 10px #8E959A;
}
hr{
margin-left: -20px;
margin-right: -20px;
opacity: 0.5;
margin-top: 20px;
}
#centerbox1left{
    float: left;
}
#centerbox1left .photoimg5{
    border-radius: 100%;
    margin-top: 20px;
}
#centerbox1right{
    float: left;
    width: 467px;
    margin-left: 15px;
}
#centerbox1right1{
    margin-bottom: 30px;
}
#centerbox1right1 #time{
    float: right;
    color: #6C757D;
    font-size: 12px;
}
#centerbox1right1 h6{
    margin-top: 15px;
    font-size: 15px;
}
#centerbox1right1 p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.6;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#boxleft .photoimg6, #boxleft1 .photoimg7{
    border-radius: 50%;
    float: left;
}
#boxleft1 .photoimg7{
    margin-top: 20px;
}
#boxright, #boxright1 {
    float: left;
    width: 407px;
    margin-left: 13px;
}
#boxright p, #boxright1 p{
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.6;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#boxright1 p{
    margin-top: 20px;
}
#centerbox1right hr{
    margin-left: -95px;
    margin-right: -25px;
    margin-top: 30px;
    opacity: 0.5;
}
#centerbox1left3{
    float: left;
}
#centerbox1left3 .photoimg8{
    border-radius: 100%;
    margin-top: 20px;

}
#centerbox1right4{
    float: left;
    width: 467px;
    margin-left: 15px;
}
#centerbox1right4 #time1{
    float: right;
    margin-top: 20px;
    margin-right: 3px;
    color: #6C757D;
    font-size: 12px;
}
#centerbox1right4 h6{
    margin-top: 15px;
    font-size: 15px;
}
#centerbox1right4 p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.6;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#centerbox1right4 hr{
    margin-top: 40px;
    opacity: 0.5;
    margin-left: -95px;
    margin-right: -25px;
}
#centerbox3left1{
    float: left;
}
#centerbox3left1 .photoimg9{
    border-radius: 100%;
    margin-top: 20px;
}
#centerbox3right2{
    float: left;
    width: 467px;
    margin-left: 15px;
}
#centerbox3right2 #time3{
    float: right;
    margin-top: 20px;
    margin-right: 3px;
    color: #6C757D;
    font-size: 12px;
}
#centerbox3right2 h6{
    margin-top: 15px;
    font-size: 15px;
}
#centerbox3right2 p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.6;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#box1left .photoimg10{
    border-radius: 50%;
    float: left;
}
#boxr1ight p{
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 14px;
    font-weight: 200;
    letter-spacing: 0;
    line-height: 1.6;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
#boxr1ight{
    float: left;
    width: 407px;
    margin-left: 15px;
}
#centerbox4{
    margin-top: 25px;
}
/* #right */
    #right {
        width: 277px;
    }
    #right #advertising{
        width: 277px;
        background-color: #FCEFDC;
        border: 1 px solid #FBE8CD;
        border-radius: 3px;
        margin-top: 20px;
    }
    #advertising a{
        font-weight: bold;
        color: #7C461C;
        text-decoration: none;
    }
    #advertising a:hover{
        text-decoration: underline;
    }
    #advertising p{
        margin-left: 20px;
        padding-top: 10px;
        padding-bottom: 10px;
        color: #7C461C;
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 0;
        line-height: 1.6;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    }
    #advertising a{
        font-weight: bold;
        color: #7C461C;
        text-decoration: none;
    }

    #block4, #block5, #block6{
        border: 1px solid #DFDFDF;
        border-radius: 3px;
        background-color: #ffffff;
    }
    #block4inside, #block5inside, #block6inside{
        padding: 17px;
}
    #block4inside h6{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 10px;
    }
        #photoimg2{
            margin-bottom: 5px;
            cursor: pointer;
        }
    #block4inside p{
        width: 240px;
        font-size: 14px;
        font-weight: 200;
        letter-spacing: 0;
        line-height: 1.6;
        font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
        margin-bottom: 20px;
    }
    .but{
        width: 80px;
        height: 28px;
        border: 1px solid #3097D1;
        border-radius:3px;
        background-color: #ffffff;
        color: #3097D1;
        font-size: 12px;
    }
    .but:hover{
        background-color: #3097D1;
        color: #ffffff;
    }
    #block5{
      width: 277px;
    }
    #block5topinside{
      padding: 17px;
    }
    #block5topinside h6{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
    }
    #block5topinside a{
        text-decoration: none;
        font-weight: normal;
        font-size: 12px;
        padding-left: 5px;
        color: #3097D1;
        cursor: pointer;
    }
    #block5topinside a:hover{
        text-decoration: underline;
    }
    #block5topbox1left .photoimg3{
        border-radius: 50%;
    }
    #block5topbox2left .photoimg4{
        border-radius: 50%;
    }
    #block5bottom{
      border-top: 1px solid #DFDFDF;
      background-color: #F7F7F7;
    }
    #block5bottominside{
      padding: 17px;
    }
    #block5topbox1left, #block5topbox2left{
      float: left;
    }
    #block5topbox1right, #block5topbox2right{
      float: left;
      margin-left: 15px;
      font-size: 14px;
    }
    #block5topbox1right p, #block5topbox2right p{
      margin-bottom: 10px;
    }
    #block5topbox1right i, #block5topbox2right i{
      margin-right: 5px;
    }
    #block5bottominside{
        font-size: 14px;
        color: #212529;
    }
    .but1, .but2{
        width: 66px;
        height: 26px;
        border: 1px solid #3097D1;
        border-radius:3px;
        background-color: #ffffff;
        color: #3097D1;
        font-size: 12px;
    }
    .but1:hover{
        background-color: #3097D1;
        color: #ffffff;
    }
    .but2:hover{
        background-color: #3097D1;
        color: #ffffff;
    }
    #block6inside{
        font-size: 14px;
    }
    #block6inside a{
        text-decoration: none;
        color: #3097D1;
        font-weight: normal;
        font-size: 15px;
        cursor: pointer;
        padding-left: 3px;
    }
    #block6inside a:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #B70046;
    }
/* others */
.clear{
    clear: both;
}
