*{
  padding: 0;
  margin: 0;
  outline: 0;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* #header */
    #header {
        width: 100%;
        height: 51px;
        position: fixed;
        z-index: 100;
        background-color: #3097D1;
    }

    #headerinside {
        width: 100%;
        height: 100%;
    }

    /* headerlogo*/
        #headerlogo {
            width: 85px;
            height: 23px;
            margin-left: 15px;
            margin-top: 12px;
            margin-bottom:12px;
            float: left;
        }
        #headerlogo a {
            display: block;
            cursor: pointer;
            width: 100%;
            height: 100%;
        }
    /* #headermenu */
    #headermenu {

    }
        #headermenu .nav li {
    		list-style-type: none;
            float: left;
            margin-left: 13px;
            margin-top: 13px;
        }

    	#headermenu li a {
    		cursor: pointer;
    		text-align: center;
    		text-decoration: none;
            font-size: 14px;
            color: #98C3DF;
    	}

    	#headermenu ul li a:hover {
            text-decoration: none;
            color: #F2E8EA;
            opacity:0,5;
        }

        #headermenu li.activ a {
            margin-left: 3px;
            margin-top: 16px;
            font-size: 15px;
            color: #ffffff;
        }

    /* #headerinput */
        #headerinput #id1{
            width: 180px;
            height: 32px;
            float: right;
            margin-right: 23px;
            margin-top: 9px;
            border: 1px solid #1C73A5;
            border-radius: 5px;
            padding-left: 10px;
        }
    /* #headerbell */
        #headerbell{
            float: right;
            margin-right: 17px;
            margin-top: 15px;
        }

        #headerbell i{
            color: #98CBE8;
            font-size: 18px;
        }

    /* #headerphoto */
        #headerphoto #photoimg{
            width: 35px;
            float: right;
            border-radius: 50%;
            margin-right: 10px;
            margin-top: 9px;
        }

/* #reserveheader */
    #reserveheader {
        width: 100%;
        height: 51px;
    }

/* #wrapper */
    #wrapper{
        width: 100%;
        height: 100%;
        background-color: #F5F8FA;
    }

    #wrapperinside{
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
    }

/* #left */
    #left > div{
        width: 277px;
        border: 1px solid #DFDFDF;
        border-radius: 3px;
        background-color: #ffffff;
    }
        #block1{
            background-image: url(img/instagram_6.jpg);
            border-radius: 3px 3px 0 0;
            margin-top: 20px;
        }
        #photoimg1{
            position: absolute;
            z-index: 1;
        }
    #block1inside, #block2inside, #block3inside{
        padding: 17px;
    }
    #block1inside .photoimg1{
        position: relative;
        z-index: 2;
        width: 100px;
        border: 3px solid #ffffff;
        border-radius: 50%;
        margin-left: 65px;
        margin-top: 75px;
    }
    #block1inside  h6{
        font-size: 15px;
        color: #212529;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
    }
    #block1inside  a{
        text-decoration: none;
    }
    #block1inside  p{
        text-align: center;
        font-size: 15px;
        margin-bottom: 20px;
        line-height: 1.5;
    }
    ul.block1insideul {
        margin-left: 42px;
    }
    ul.block1insideul li {
        list-style-type: none;
        display: inline-block;
        cursor: pointer;
        padding-right: 10px;
        padding-left: 10px;
        margin-bottom: 15px;
        border-right: 1px solid #808080;
    }
    ul.block1insideul li:last-child{
        border-right: none;
    }
    #block1, #block2, #block3, #block4, #block5, #block6{
        margin-top: 20px;
    }
    #block2inside h6{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
    }
    #block2inside a{
        text-decoration: none;
        font-weight: normal;
        font-size: 14px;
        padding-left: 5px;
        color: #3097D1;
        cursor: pointer;
    }
    #block2inside .hr{
        font-size: 12px;
    }
    #block2inside a:hover{
        text-decoration: underline;
    }
    #block2inside li{
        list-style-type: none;
        margin-bottom: 5px;
        font-weight: normal;
        font-size: 14px;
    }
    #block2inside i{
        width: 12px;
        font-size: 13px;
        text-align: center;
        color: #6C757D;
        margin-right: 12px;
    }
    #block2inside ul{
        margin-bottom: 20px;
    }
    .flex-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-bottom: 10px;
    }
    #block3inside h6{
        margin-bottom: 15px;
        font-size: 14px;
        font-weight: 600;
    }
    #block3inside a{
        text-decoration: none;
        font-weight: normal;
        font-size: 12px;
        color: #3097D1;
        cursor: pointer;
    }
    #block3inside .hr1 a{
        margin-left: 5px;
    }
    #block3inside a:hover{
        text-decoration: underline;
    }
/* #center */
    #center{
        width: 585px;
        margin-top: 20px;
        background-color: green;
        margin-left: 10px;
        margin-right: 10px;
    }

/* #right */
    #right{
        width: 277px;
        margin-top: 20px;
    }
    #block4, #block5, #block6{
        width: 277px;
        border: 1px solid #DFDFDF;
        border-radius: 3px;
        background-color: #ffffff;
    }
    #block4inside, #block6inside{
        padding: 18px;
}
    #block4inside h6{
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 15px;
    }
        #photoimg2{
            margin-bottom: 5px;
        }
    #block4inside p{
        font-size: 14px;
        line-height: 1.5;
        font-weight: 300;
        margin-bottom: 20px;
    }
    .but{
        width: 80px;
        height: 28px;
        border: 1px solid #3097D1;
        border-radius:3px;
        background-color: #ffffff;
        color: #3097D1;
        font-size: 12px;
    }
    .but:hover{
        background-color: #3097D1;
        color: #ffffff;
    }
    #block5{
        height: 275px;
    }
    #block6inside{
        font-size: 14px;
    }
    #block6inside a{
        text-decoration: none;
        color: #3097D1;
        font-weight: normal;
        font-size: 15px;
        cursor: pointer;
        padding-left: 3px;
    }

    #block6inside a:hover{
        cursor: pointer;
        text-decoration: underline;
        color: #B70046;
    }

/* others */
.clear{
    clear: both;
}
